@use "../customize" as *;


.logo-title{
    font-size: 2.4em;
    font-family: 'Times New Roman', Times, serif;
    color: $cyan ;
}
.sub-logo{
        position: absolute;
        
        margin-top: 1.8%;
        font-size: 0.8em;
        margin-left: -8%;
}
.black{
    color: $secondary !important;
}
.white{
    color: $white !important;
}
.blue{
    color: $blue !important;
}
.sidebar-margin{
    margin-left: 4rem;

}

.feather {
    width: 16px;
    height: 16px;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 50px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 22%;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}


.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .40rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.913);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}