@use "../customize" as *;
// home hero
body {
    background-color: $gray-100 !important;
}

.hero-index {
    // margin-top: 5%;

    .commingProjects {
        button:hover {
            background-color: $green !important;
        }
    }

    .list-project {
        li {
            font-size: 1.5em;
        }
    }

    .display {
        font-size: 1.6em;
        font-family: cursive;

    }

    .project1 {
        display: none;
    }

    .caption {
        position: absolute;
        right: 55%;
        bottom: 1.25rem;
        left: 15%;
        top: 55%;
        color: #fff;
        font-size: 2rem;
        text-align: center;
        font-weight: bolder;


    }

    .slide2 {

        top: 50%;
        color: $blue !important;
        font-weight: bolder;
        font-size: 2rem;
        font-family: cursive;
    }

    .btn-color {
        color: $primary !important;
        background-color: $blue !important;
    }

    #modals {
        display: none;
    }
}

//home services
.services {

    margin-top: 3%;

    .txt {
        .header {
            color: $cyan !important;
            opacity: 0.7;
        }

        p {
            font-size: 1.25rem;
            font-weight: 300;
        }

    }

    .col-4 {
        .txt {
            height: 20%;
            width: 90%;
        }

        img {


            padding-left: 1px;
            padding-right: 1px;
        }
    }


}

// regester page
.regester-hero {
    position: relative;

    .message {
        font-family: cursive;
        position: relative;
        color: $red !important;
    }
}

// the hero of about page
.hero-about {

    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;

    .history {
        margin-top: 40px;
    }

    h4 {
        color: $blue !important;
    }

    h5 {
        margin-top: 30px;
        color: $blue !important;
    }

}

// blog hero
.blog-hero {
    background-color: $gray-200 !important;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;

    .header {
        color: $blue;
    }
}


//trial projects
.products-hero {

    margin: 2%;


}

//services hero
.service-hero {
    .banner {
        margin: 0;

    }
}


.whatsnew-hero {
    .wats-new {
        display: inline-flex;
    }
}

// common sections
#greeting {
    color: $secondary !important;

}

#greeting:hover {
    color: $blue !important;
    font-family: cursive;
    font-weight: bolder;
    cursor: pointer;
}


// for the list section

.specialOffer {
    background-color: $cyan !important;
    //width: 100px;
    // border-radius: 5px;

    position: absolute;

    font-family: cursive;
    margin-right: 0;

    h5 {
        font-size: .9em;
        margin-left: 1px;
        padding: 5px;
    }



}

.price {
    font-weight: bolder;
    font-size: 1em;
    font-family: cursive;
    color: $white !important;
    text-align: center !important;
    padding: 0.6em;



}

.buybutton {
    display: inline-flex;
    margin-left: -15px;
}

.icons {
    font-size: 4em;
}

.a-tags {
    a {
        color: $secondary !important;
        text-decoration: none;
        font-size: 1.2em;

    }
}

.header-blue {
    opacity: 0.7;
    color: #0dcaf0 !important;
}

.header-grey {
    color: $gray-200 !important;

}

.header-cyan {
    color: $cyan !important;

}
.header-red {
    color: $red !important;

}


.my-link {
    a {
        display: block;
        color: $blue !important;
        font-family: cursive;
        font-size: 1.2rem;
    }
}

// class for all back buttoms
.back {
    border-radius: 10px;
    margin-left: 2%;
    max-width: 30%;
    background-color: $green !important;

    a {

        color: $white !important;
        text-decoration: none;
        font-size: 20px;
    }
}

// code for profile page
.head {
    font-family: cursive;
    font-weight: bolder;
    color: $cyan;
}

.user-profile {

    display: inline-flex;
    justify-items: flex-start;
    margin-left: 20%;
    margin-top: 2rem;
    padding-left: 20px;

    //justify-content: space-between; 
    h2 {
        font-size: 40px;
        font-weight: bolder;
        font-style: oblique;
        opacity: 0.6;

    }

    p {
        font-size: 20px;
        font-weight: bold;
    }

}

.personal {

    max-width: 50%;


}

.account {
    margin-left: 3rem;

}

button {
    a {
        text-decoration: none;
    }
}

@media (max-width : $mobile) {

    // respomsive of the about page
    .carousel-item {
        .w-100 {
            height: 75vh !important;

            margin-right: 0;

        }
    }

    .hero-about {
        margin-top: 30%;
        // margin-left: 15%;

        .history {
            margin-top: 40px;
        }

        .col-4 {
            flex: 0 0 auto;
            width: 98%;
        }
    }

    //end of the about page
    .col-4 {
        flex: 0 0 auto;
        width: 92%;
        margin-left: 4.5%;
        margin-right: 5%;
    }

    .back {
        border-radius: 10px;
        margin-left: 5.5%;
        max-width: 30%;



    }

    .logout-main {
        margin-right: 5%;
    }

    .user-profile {

        display: block;
        margin-left: 5%;

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 15px;
            font-weight: bold;
        }

        .account {
            margin-top: 13%;
            margin-left: 0%;
        }
    }

    .button-user {

        .button {
            font-size: 1em;
            width: 120px;
        }
    }

    .service-hero {
        .carousel-item {
            .w-100 {
                // height:100vh!important;


            }

            .mt-5 {
                margin-top: 0 !important;
            }

        }


    }

    .whatsnew-hero {
        .col-12 {
            flex: 0 0 auto;
            width: auto !important;
        }

        .wats-new {
            display: block;
        }
    }


}

@media (max-width:$laptop) and (min-width : $mobile) {
    .hero-about {
        margin-top: 20%;

        .history {
            margin-top: 40px;
        }

        .col-4 {
            flex: 0 0 auto;
            width: 50%;
        }

    }

}