@use "../customize" as *;

//navbar

.menu{
    // background-color: $secondary;
    color: $primary;
    font-family: cursive;
    font-size: 1.2rem;        
    font-weight: bolder;
   
     .container-fluid{
        .logo-title{
            margin-left: 7%;
            font-size: 1.1em;
            font-family: 'Times New Roman', Times, serif;
            color:$blue ;
       .sub-logo{
           position: absolute;
           color: $red;
        }
     
        .dropdown-men {
          a{
            display: none;
            color: $red !important;
          }
         
        }
       
            
        }
       
          
             }
    
    .navbar-links{
        margin-top: 0px;
         .navbar-nav{
      
          font-size:1em;
           
        }
     .nav-link{
                padding: 15px ;
                margin-left: 20px;
                margin-top: 0;
                box-sizing: border-box;
                transition-duration: 10ms;
                }
      .nav-link:hover {
        background-color:$blue;
        margin-top: 10px;
        border-radius: 5px;
        display: block;
        transition: 10ms;
    
      }
        }
    }   


    // footer
footer{
    background-color: $secondary;
    color: $primary;
    margin-top: 5%;
    img{
        width: 10%;
        height: 10%;
        border-radius: 20px;
    }
    .footer{
        display: inline-flex;
        margin-left: 0%;
        margin-top: 30px;
        
    }
    .first-col{
    
    width: 80%;
    margin-left: 10%;
    a
    {
        text-decoration: none;
        margin-left: 20px;
     }
    
    }
    .cell
    {
        margin-left: 30px;
    }
  .developers
  {
    padding-bottom: 20px;
    margin-left: 30%;
  }
   
   .right-column{
    margin-left: 200px;
   }
}
.login-nav {
      color: $red;
  
  
    }
