{% extends 'base.html' %}
{%load static%}
{%block content%}
{% block title%}
<head>
<title>NitacagraSoftwares | Blog</title>
</head>
{%endblock title%}
<body>
  <section>
    <div class="blog-hero">
       <h1 class="header"></h1>
       <h1 class="header"></h1>
      
       <br/>
      
      
       <div class="disc lead">
         <h1 class="header-blue text-center">THE BLOG IS UNDER DEVELOPMENT</h1>
       
        <p ></p>
       </div>
       
   
</section>
<script src="{% static '../static/JS/admin.js'%}"></script>
</body>
        
    
{%endblock content%}
