{% extends 'base.html' %}

{% block content%}
{% load static%}
{% block title%}
<head>
  <meta name="description" content="This is home of NitacagraSoftwares SoftwareSolutions such as web development">
<title>NitacagraSoftwares | Home of Software Solutions</title>
</head>
  {%endblock title%}

<main class="hero-index mt-2">
      <section class="carousel">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#myCarousel"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <section id="modals" class="modals">
              <div
                class="modal modal-alert position-static d-block py-5"
                tabindex="-1"
                role="dialog"
                id="modalChoice"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content rounded-3 shadow">
                    <div class="modal-body p-4 text-center">
                      <h5 class="mb-0">
                        Search Functinality under Development
                      </h5>
                      <hr />
                      <p class="mb-0">
                        Thanks For Choosing Nitacagra Softwares. This
                        functinality will be available soon
                      </p>
                    </div>
                    <div class="mb-3 text-center">
                      <button
                        id="closebtn"
                        type="button"
                        class="btn btn-color btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end btn-info"
                      >
                        <strong>Close</strong>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <div class="carousel-item active">
              <img
                src=" {% static '../static/NITACACRAIMAGES/webpage3.jpg' %}"
                class="d-block w-100"
                alt="For Projects Guides"
              />
              <div class="container">
                <div class="carousel-caption text-start">
                  <h1>Learn Web Development</h1>
                  <p>
                    Are you intrested to Web development ,Sign Up to
                    NitacagraSoftwares and learn to develop Your Own Website
                  </p>
                  <p>
                    <a class="btn btn-lg btn-info" href="#">Sign Up Today</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
              <img
                src="  {% static '../static/NITACACRAIMAGES/webpage1.jpg' %}"
                class="d-block w-100"
                alt="Programmed Drone"
              />
              <div class="container">
                <div class="carousel-caption">
                  <h1>Projects Guides.</h1>
                  <p>
                    For Your Best Final Year College Project Contact Nitacagra
                    Softwares.
                  </p>

                  <p>
                    <a class="btn btn-lg btn-success" href="#">Contact Today</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="9000">
              <img
                src=" {% static '../static/NITACACRAIMAGES/webpage2.jpg' %}"
                class="d-block w-100"
                alt="The spider web representing  website"
              />

              <div class="container">
                <div class="carousel-caption text-end">
                  <h1>Web Hosting.</h1>
                  <p>
                    <strong
                      >Are You Having Challenges to Host Your Web Application,
                      Read the blog Post on How to Host Your Web Application On
                      NitacagraSoftwares.</strong
                    >
                    .
                  </p>
                  <p>
                    <a
                      class="btn btn-lg btn-color"
                      href="../html.pages/blog.html"
                      >Learn More</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#myCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>

      <section class="product-services">
        <div class="container text-start services">
          <h1 class="p-4 text-center">
            Products And Services
            <hr />
          </h1>
          <div class="row mb-5 g-5">
            <div class="col-4">
              <img
                src="  {% static '../static/NITACACRAIMAGES/pdctNsrvc1.jpg' %} "
                class="pic img-fluid"
                alt="Website Develpment"
              />
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 header>Website Development</h4>
                  <hr />
                  <p>
                    Having Challenges in marketing Your Products,Use a website
                    Which can help you to reach more people Get one of our
                    Websites services
                  </p>

                  <br />
                  <button type="button" class="btn btn-secondary home button">
                    <a href="offerredServices.html"> More </a> Services
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img
                src="{% static '../static/NITACACRAIMAGES/prctNsrvc2.jpg' %}"
                class="pic img-fluid"
                alt="Website Develpment"
              />
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 class="header header-blue">Free Blog Hosting</h4>
                  <hr>
                  <p>
                    Do you have an intresting story to share or to educate
                    people with ,But you dont have a platform to do so ,Use our
                    Blog Hosting Platform for free
                  </p>
                  <br />

                  <button type="button" class="btn btn-secondary home button">
                    <a href="offerredServices.html"> More </a> Services
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img
                src=" {% static '../static/NITACACRAIMAGES/pdctNsrvc4.jpg' %}"
                class="pic img-fluid"
                alt="Website Develpment"
              />
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 class="header"> Final Year Projet Guides</h4>
                  <hr />
                  <p>
                    Is Final year Project a headache for you.Checkout our web
                    Applications and Embedded sysytem project which can help you
                    pass your final year project
                  </p>

                  <br />
                  <button type="button" class="btn btn-secondary home button">
                    <a href="../html.pages/offerredServices.html"> More </a>
                    Services
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="../style/js/bootstrap.bundle.js"></script>
</main>
  {%endblock content%}
