{% extends 'base.html' %} {% block content%} {% load static%} {% block title%}
<head>
  <meta name="Key Words" content="Nitacagra Software Home Page" />
  <meta
    name="description"
    content="This is home of NitacagraSoftwares services,projects Guides as well as Products"
  />
  <title>NitacagraSoftwares | Home of Software Solutions</title>
</head>
{%endblock title%}
<main class="hero-index dropdown-disapper">
  <section class="carousel">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
       <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        
        <div class="carousel-item  active" >
          <img
            src="{{first_slide.ImageUrl}}"
            class="img-fluid d-block w-100"
            alt="For Projects Guides"
          />
          <div class="container">
            <div class="carousel-caption text-start">

              <h1 class="header-blue">{{first_slide.name}}</h1>
              <p class="fs-4" >{{first_slide.disc}}</p>
            <p><a id='home' class="btn btn-lg btn-info" href="#">{{first_slide.Homebutton}}</a></p>
            </div>
          </div>
        </div>
        
         <div class="carousel-item" data-bs-interval="8000">
          <img
            src="{{second_slide.ImageUrl}}"
            class="img-fluid d-block w-100"
            alt="Programmed Drone"
          />
          <div class="container">
            <div class="carousel-caption">
               <h1 class="header-blue">{{second_slide.name}}</h1>
              <p class="fs-4" >{{second_slide.disc}}</p>
            <p><a id='home' class="btn btn-lg btn-info" href="#">{{second_slide.Homebutton}}</a></p>
            </div>
          </div>
        </div> 
         <div class="carousel-item" data-bs-interval="9000">
          <img
           src="{{last_slide.ImageUrl}}"
            class="img-fluid d-block w-100"
            alt="The spider web representing  website"
          />

          <div class="container">
            <div class="carousel-caption text-end">
              <h1 class="text-warning">{{last_slide.name}}</h1>
              <p class="fs-4" >{{last_slide.disc}}</p>
            <p><a id='home' class="btn btn-lg btn-info" href="#">{{last_slide.Homebutton}}</a></p>
            </div>
          </div>
        </div> 
      </div>
            </div>
          </div>
        </div> 
      </div>
     
      
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button> 
       <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> 
    </div>
    
  </section>
  <section class="product-services">
        <div class="container text-start services">
          <h2 class="p-4 text-start">
            Special Services for You
            <hr />
          </h2>
          <div class="row g-5">
            <div class="col-4">
               <img
                src="  {% static '../static/NITACACRAIMAGES/pdctNsrvc1.jpg' %} "
                class="pic img-fluid"
                alt="Website Develpment"
              />
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 header>Website Development</h4>
                  <hr />
                  <p>
                    Having Challenges in marketing Your Products,Use a website
                    Which can help you to reach more people Get one of our
                    Websites services
                  </p>

                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary btnhover button-non-cursive"
                  >
                    <a href="offerredServices.html"
                      ><i class="fa-solid text-info fa-circle-info"></i> More
                    </a>
                    Services
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img
                src=" {% static '../static/NITACACRAIMAGES/pdctNsrvc4.jpg' %}"
                class="pic img-fluid"
                alt="Website Develpment"
              />
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 class="header">Blog Writting and Hosting</h4>
                  <hr />
                  <p>
                    Do you have an intresting story to share or to educate
                    people with ,But you dont have a platform to do so ,Use our
                    Blog Hosting Platform for free
                  </p>
                  <br />

                  <button
                    type="button"
                    class="btn btn-secondary btnhover button-non-cursive"
                  >
                    <a href="offerredServices.html"
                      ><i class="fa-solid text-info fa-circle-info"></i> More
                    </a>
                    Services
                  </button>
                </div>
              </div>
            </div>
            <div class="col-4">
              <img
                src="{% static '../static/NITACACRAIMAGES/prctNsrvc2.jpg' %}"
                class="pic img-fluid"
                alt="Website Develpment"
              />
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 class="header">Final Year Projet Guides</h4>
                  <hr />
                  <p>
                    Is Final year Project a headache for you.Checkout our web
                    Applications and Embedded sysytem project which can help you
                    pass your final year project
                  </p>

                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary btnhover button-non-cursive"
                  >
                    <a href="offerredServices.html"
                      ><i class="fa-solid text-info fa-circle-info"></i> More
                    </a>
                    Services
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="new product-services mt-5">
        <div class="container text-start services mb-5 mt-3">
          <h2 class="p-4 text-start">
            Did You know?
            <hr />
          </h2>
          <div class="row g-5">
            <div class="col-12 d-inline-flex">
              <div class="img">
                <img
                src="{% static '../static/admin/imagies/almond.png' %}"
                class="pic w-100 img-fluid"
                alt="alomd shape"
              />
               
              </div>
              <div class="p-4 border shadow-lg">
                <h3 class="text-info">Cosmotology</h3>
                <p class="lead fw-bolder">
                  Almond Shaped Nail were brought to be used in manicure by
                  Starlets like a young Elizabeth Taylor and I Love Lucy's
                  Lucille Ball in ths 1950s.
                </p>
                <a
                  class="text-success fw-bolder fs-5 text-decoration-none"
                  href=""
                  >Get Your Own Alomnd Shaped Nail Done for You</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="product-services">
        <div class="container text-start services">
          <h2 class="p-4 text-start">
            Daily Tips For Your
            <hr />
          </h2>
          <div class="row g-5">
            <div class="col-6 mb-5">
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 header>Latest Tip</h4>
                  <hr />
                  <p>
                    It's much easier to maintain longer natural nails with the almond or oval shape
                     since the sides are less prone to impact and wear and tear.
                  </p>

                  <br />
                  <button
                    type="button"
                    class="btn btn-secondary btnhover button-non-cursive"
                  >
                    <a href="offerredServices.html">Read Blog articles </a>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-6 mb-3">
             
              <div class="p-4 border shadow bg-light">
                <div class="">
                  <h4 class="header">Last Tip</h4>
                  <hr />
                  <p>
                    Do you have an intresting story to share or to educate
                    people with ,But you dont have a platform to do so ,Use our
                    Blog Hosting Platform for free
                  </p>
                  <br />

                  <button
                    type="button"
                    class="btn btn-secondary btnhover button-non-cursive"
                  >
                    <a href="offerredServices.html"
                      >Read Blog articles
                    </a>
                   
                  </button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <section class="new product-services mt-5">
        <div class="container text-start services mb-5 mt-3">
          <h2 class="p-4 text-start">
           Whats New On Nitacagra Website?
            <hr />
          </h2>
          <div class="row g-5">
            <div class="col-12 d-inline-flex">
              <div class="img">
                <img
                src="{% static '../static/admin/imagies/web-service.jpeg' %}"
                class="pic w-100 img-fluid"
                alt="alomd shape"
              />
               
              </div>
              <div class="p-4 border shadow-lg">
                <h3 class="text-info">Using Ecocash for payments</h3>
                <p class="lead fw-bolder">
                 You can now use ecosash when making your payments
                  for the services that you wish that we could offer to you.
                </p>
                <a
                  class="text-success fw-bolder fs-5 text-decoration-none"
                  href=""
                  >Get Started With The New Feature</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h3 class="text-center  mb-5">Thanks for choosing Nitacagra. <span class="text-info fst-italic"> Your Problem is our Concern</span>  </h3>
      </section>
</main>
<script src=" {% static '../../static/JS/home.js'%}"></script>
{%endblock content%}
