{% extends 'adminDashboard.html' %}
 {%block content%} 
 {%load static%}
 {% load crispy_forms_tags %}
{% block title%}
<head>
  <meta name="Key Words" content="Web Development, Free Blog Hosting,Static Websites,Web Application" />
  <meta
    name="description"
    content="This page is creating new Detailed Discription of  services including service type and price aswell as functinality"
  />
    <title>NitacagraSoftwares | Create New Detailed</title>
{%endblock title%}
</head>
<body>
 <main class="col-md-9 ms-sm-auto col-lg-10 align-content-center px-md-4"
     style="width: 78%">
    <form id="form-id" method="POST"  class="shadow-lg mx-5 mt-5"
          style='width: 75%'>
    {% csrf_token %}
    <br />
    <div class="message mt-3 text-center">
      <h5>Create Detailed Discription </h5>
       <h6> Please First Create Service Before Adding Detailed Discription</h6>
    </div> 
    {% for message in messages %} 
    <div class="error-class">
       {% if message.tags == 'warning'%}
          <p class="text-danger">{{message}}</p>
       {% elif message.tags == 'success'%}
        <p class="text-success">{{message}}</p>
    </div>
    {%endif%}
     {%endfor%}
    <br />
    <div class=" text-start mx-sm-5">
       <p class="lead">
        <h5>Please Select The Service You Want To Add Detailed Discription</h5>
       <strong>{{Detailedform.service|as_crispy_field}}</strong> 
       <p class="lead">
        <strong>{{Detailedform.type|as_crispy_field}}</strong>
      </p>
       <p class="lead">
        <strong>{{Detailedform.Price|as_crispy_field}}</strong>
      </p>
       <p class="lead">
        <strong>{{Detailedform.specialOffer|as_crispy_field}}</strong>
      </p>
      <br />
    </div>
  </br>
    <div class="text-start mb-5">
       <button
        type="button"
        id="back"
        class="btn btn-secondary home more button"
      >
        <a href="{% url 'dashboard'%}">Cancel</a>
      </button> 
      <button type="submit" class="btn btn-secondary ms-5 w-50 button more">
        Create
      </button>
    </div>
  </br>
  </form>
</main>
  <script src="{% static '../static/JS/view.js'%}"></script>
</body>
{%endblock content%}
