{% extends 'base.html' %}
{%block content%}
{%load static%}

<head>
 
     <meta name="Key Words" content="Web Development, Free Blog Hosting,Static Websites,Web Application" />
  <meta
    name="description"
    content="This page is for showing all services we do at NitacagraSoftwares , 
    Such as Free Blog Hosting abd Teaching Learners Web Development"
  />
{% block title%}
    <title>NitacagraSoftwares | OfferedServices</title>
{%endblock title%}
</head> 


<section class="service-hero mt-0 text-start">
    
      <div class="products-hero banner">
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        ></div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="9000">
            <img
              src=" {% static '../static/NITACACRAIMAGES/offeredservice1.jpg'%}"
              class="d-block w-100"
              alt="Services We Offer"
            />
            <div class="caption text-end">
              <!-- <h1 class="display-5">Web Development </h1> -->
              <br />
              <br />
              <br />
              <!-- <p class="text-end " >
                  
                 Are you intrested in web Development,
                 We can train you so that You Can start to Develop Your Own Website Today
                </p>
                <button type="button" class="btn btn-secondary try-it-now buy ">Contact Us</button> -->
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="container">
        <h3 id="greeting" class="mb-3 text-center">
          List Of All Available Services
        </h3>
        <hr />
        <br />
      </div>
      <br />
      <br />
      <section class="search-section">
        <!-- creating the sections of the projects trials that are clickable -->
        <div class="container mb-5">
          <div class="row g-5">
            <div class="col-4">
              <span class="specialOffer">
                <h5 class="text-end">On Promotion</h5>
              </span>
              <img
                src=" {% static '../static/NITACACRAIMAGES/pdctNsrvc3.jpg'%}"
                class="img-fluid"
                alt="Blog Hosting"
              />
              <div class="p-4 border shadow bg-light">
                <div class="txt">
                  <h4 class="header-blue">Free Online Blog Hosting</h4>
                  <p>
                    You Can host your Blogs at our Blog Hosting Platform and we
                    can maintains your post at a affordable Price within a short
                    space of time.
                  </p>
                 

                  <br />
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-secondary more1 button w-75 buy"
                    >
                      <a href="../html.pages/detailed.html">Get Service</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <span class="specialOffer">
                <!-- <h5  class="text-end"></h5> -->
              </span>
              <img
                src=" {% static '../static/NITACACRAIMAGES/pdctNsrvc3.jpg'%}"
                class="img-fluid"
                alt="Blog Hosting"
              />
              <div class="p-4 border shadow bg-light">
                <div class="txt">
                  <h4 class="header-cyan">Web Applications Dev</h4>
                  <p>
                    We develop Websites that are responsive , can function
                    smoothly on any device and can suite your personal need
                    ,Which helps to boots your business.
                  </p>
                 

                  <br />
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-secondary more1 button w-75 buy"
                    >
                      <a href="../html.pages/detailed.html">Get Service</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <span class="specialOffer">
                <!-- <h5  class="text-end"></h5> -->
              </span>
              <img
                 src=" {% static '../static/NITACACRAIMAGES/pdctNsrvc3.jpg'%}"
                class="img-fluid"
                alt="Blog Hosting"
              />
              <div class="p-4 border shadow bg-light">
                <div class="txt">
                  <h4 class="header-cyan">Static Website Dev</h4>
                  <p>
                    Are you a Business Owner Who want to advertise Your Products
                    with less budget. We have a solution for Your ,we develop a
                    static websites within few days.
                  </p>
                 

                  <br />
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-secondary more1 button w-75 buy"
                    >
                      <a href="../html.pages/detailed.html">Get Service</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% comment %} <div class="col-4">
              <span class="specialOffer">
                <!-- <h5  class="text-end"></h5> -->
              </span>
              <img
                 src=" {% static '../static/NITACACRAIMAGES/pdctNsrvc3.jpg'%}"
                class="img-fluid"
                alt="Blog Hosting"
              />
              <div class="p-4 border shadow bg-light">
                <div class="txt">
                  <h4 class="header-cyan">Website maintainance</h4>
                  <p>
                    We develop Websites that are responsive , can function
                    smoothly on any device and can suite your personal need
                    ,Which helps to boots your business.
                  </p>
                  
                  <br />
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-secondary more1 button w-75 buy"
                    >
                      <a href="../html.pages/detailed.html">Get Service</a>
                    </button>
                  </div>
                </div>
              </div>
            </div> {% endcomment %}
            <div class="col-4">
              <span class="specialOffer">
                <!-- <h5  class="text-end"></h5> -->
              </span>
              <img
                  src=" {% static '../static/NITACACRAIMAGES/pdctNsrvc3.jpg'%}"
                class="img-fluid"
                alt="Blog Hosting"
              />
              <div class="p-4 border shadow bg-light">
                <div class="txt">
                  <h4 class="header-cyan">Project WebApplications</h4>
                  <p>
                    We Design and develop Final year Projects and help you in your final year Project
                  </p>
                  <br>
                  <div class="text-center">
                    <button
                      type="button"
                      class="btn btn-secondary more1 button w-75 buy"
                    >
                      <a href="../html.pages/detailed.html">Get Service</a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    
<script src="{% static '../static/JS/service.js'%}"></script>
{%endblock content%}