{% extends 'base.html' %}
 {%block content%} 
 {%load static%}
  {% block title%}
<head>
<title>NitacagraSoftwares |Update Service</title>
</head>
{%endblock title%}
<body>
  {% load crispy_forms_tags %}
  <br />
  <br />
  <br />
  <form id="form-id" method="POST" class="shadow-lg mt-5">
    {% csrf_token %}
    <br />
    <div class="message mt-3 text-center">
      <h5>Update Service</h5>
    </div>
    {% for message in messages %} {% if message.tags == 'warning'%}
    <div class="start-center container">
        <p class="bg-warning">{{message}}</p>
    </div>
  {%endif%} {%endfor%}
    <br />
    <div class="mx-sm-4">
      <p class="lead">
        <strong>{{form.section|as_crispy_field}}</strong>
      </p>
      <br />
      <p class="lead">
        <strong>{{form.name|as_crispy_field}}</strong>
      </p>
      <br />
      <p class="lead">
        <strong>{{form.pic|as_crispy_field}}</strong>
      </p>
      <br />
      <p class="lead">
        <strong>{{form.briefDisc|as_crispy_field}}</strong>
      </p>
      <br />
      <p class="lead">
        <strong>{{form.FullDisc|as_crispy_field}}</strong>
      </p>
      <br />
      <p class="lead">
        <strong>{{form.oldPrice|as_crispy_field}}</strong>
      </p>
      <br /> 
      <p class="lead">
        <strong>{{form.newPrice|as_crispy_field}}</strong>
      </p>
      <br />
   
      <p class="lead"><strong>{{form.specialOffer|as_crispy_field}}</strong>
      </p>
      <br /> 
      </div>
  </br>
    <div class="text-center mb-5">
      <button
          type="button"
          id="back"
          class="btn btn-secondary home more button"
        >
          <a href="{% url 'dashboard'%}">Cancel</a>
        </button>
        <button type="submit" class="btn btn-secondary ms-5 button more">
          Save
        </button>
    </div>
  </br>
  </form>

  <script src="{% static '../static/JS/view.js'%}"></script>
</body>
{%endblock content%}


