{% extends 'base.html' %}
{%block content%}
{%load static%}
{% block title%}<head>  
  <title>NitacagraSoftwares | Page UnderDevelopment</title>
  <meta
    name="description"
    content="This page is all pages that are still in Development stage"
  />
</head> {%endblock title%}
<section class="mt-0 service-hero text-start ">
        <br>
        <div class="products-hero banner">
          <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel" >
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active h-100" data-bs-interval="9000">
              <img src="{% static '../static/NITACACRAIMAGES/webpage1.jpg' %}" class="d-block img-flud w-100" alt="undeveloped" />
              <div class="caption mt-5 text-end">
                <h1 class="display-5"></h1>
                <p class="text-end mt-5 " >  
                 Welecome to <span class="header-cyan">Nitacagra Softwares</span>  Home of All Softwares Solutions.
                </p>
                <button type="button" class="btn btn-secondary try-it-now buy w-auto mb-5 ">This Page is still under Development</button>
              </div>
              
            </div>
        </div>  
      </div>     
  </div>

<script src="../style/js/bootstrap.bundle.js"></script>
<script src="../JS/services.js"></script>
<script src="../JS/navbar_foote.js"></script>  
<script src="../JS/index.js"></script>
</section>
{%endblock%}



